footer#footer
  .container
    .qrcode
      img(src="../../img/qrcode.png")

    .info
      p.phone 400-123-1233
      p.hint 全国统一服务热线(工作日6:00-24:00)
      p 地址：成都市锦江区新光华街7号航天科技大厦4301
      p Email：www.baidu.com
      p 友情链接：17汽车网  蚂蜂窝旅游指南  武汉房产网  安居客  洪三板

    .logo
      img(src="../../img/logo-white.png")
