@import "base.css"
@import "../node_modules/colors.css/src/_variables.css"
@import "../node_modules/colors.css/src/_skins.css"

// component
@import "component/banner.styl"
@import "component/pagination.styl"

// framework
@import "framework/variable.styl"
@import "framework/body.styl"
@import "framework/header.styl"
@import "framework/footer.styl"
@import "framework/page.styl"
@import "framework/article.styl"

// page
@import "pages/homepage.styl"
@import "pages/about.styl"
@import "pages/list.styl"
@import "pages/location.styl"
@import "pages/house.styl"
