@import "base.css"
@import "../node_modules/colors.css/src/_variables.css"
@import "../node_modules/colors.css/src/_skins.css"

// framework
@import "framework/variable.styl"
@import "framework/body.styl"
@import "framework/header.styl"
@import "framework/footer.styl"

// page
@import "pages/homepage.styl"
