.breadcrumb
  background-color transparent
  padding 1.5rem 0
  margin-bottom 0

  .article &,
  .single-post &
    a
      color $black

      &:hover
        color $active-color

section.article,
.single-post .article
  font-size 1.5rem
  font-weight 200
  margin-bottom 2em

  header
    margin-bottom 2em

  h1
    font-size 1.5rem
    line-height 2
    text-align center

  .info
    color #999
    font-size 1rem
    text-align center

  blockquote
    font-size 1rem
    font-weight 100
    padding-bottom 1.5rem
    margin 1.5rem 0
    border-bottom 1px solid #F3F3F3

  img
    display block
    max-width 100%
    margin 0 auto

  p
    margin-bottom 1em

    &:last-child
      margin-bottom 0q

article embed[src$=".swf"]
  width 100%

@media (max-width: $xs-width - 1px)
  .single-post .article,
  section.article
    img
      height auto
