.hide
  display none !important

.visually-hidden
  border 0
  clip rect(0,0,0,0)
  position absolute
  width 1px
  height 1px
  margin -1px
  overflow hidden
  padding 0


@media (max-width: 1499.98px)
  html
    font-size 16px

@media (min-width: 1600px)
  html
    font-size 20px

  .container
    max-width 1440px
