#footer
  background-color #394473
  color white
  font-size 1rem
  font-weight 200
  padding 56px 0

  .container
    display flex

  p
    margin-bottom 0

  .qrcode
    width 160px

    img
      display block

  .info
    flex 1
    display flex
    flex-direction column
    justify-content space-between
    margin 0 1rem

    > p
      line-height 100%

      &:last-child
        padding-bottom 2px

  .phone
    font-size 40px
    font-weight normal

  .hint
    color #7685C8
