.banner
  .page &,
  &.page
    background url(./img/banner.jpg) center/cover
    height 15rem
    margin-bottom 1em

  .article &,
  .single &,
  &.article,
  &.single
    background-position center
    background-size cover
    height 12rem

  .category-news &
    background-position-x 24%
