#banner
  color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  height calc(100vh - 120px)
  background url(./img/banner.jpg) center/cover

  h1
    font-size 80px

  p
    font-size 28px
