#banner
  color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100vh
  background url(./img/banner.jpg)

  h1
    font-size 80px

  p
    font-size 28px
