#banner
  color white
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-position center
  background-size cover

  @media (max-width $xs-width)
    height calc(100vh - 3.5rem)
    padding 0 2.5rem

    h1
      font-size 2.5rem
      margin-bottom 1.5em

    p
      font-size 1.2rem

  @media (min-width $xs-width + 1px)
    height calc(100vh - 6rem)

    h1
      font-size 4rem
      margin-bottom 1em

    p
      font-size 1.4rem
