.house,
.single-house
  background-color #F8F8F8

  header&
    background-color #262626
    padding 0 0 58px

  nav
    color #C6C6C6

    .breadcrumb
      margin 0

    a
      color #C6C6C6

      &:hover
        color white

  h1
    color white
    font-size 30px
    margin 0 0 1em

  .showcase
    display flex

  .slide
    width 60%

    .carousel-item
      height 0
      padding-top 75%
      background-size cover
      background-position center

    .carousel-indicators
      position static
      margin 15px 0 0
      padding 0
      list-style none
      display flex

      li
        background-size cover
        background-position center
        flex 1 1 16%
        margin: 0
        height 0
        padding-top 13.5%

        + li
          margin-left 15px

  .summary
    flex 1
    display flex
    flex-direction column
    margin-left 15px

    header
      background-color $active-color
      border-radius 4px
      color white
      padding 1em 1.5em

      > *:last-child
        margin-bottom 0

    .price
      font-size 50px

      small
        font-size 20px

    .convert-to-rmb
      color #9BAEFF
      font-size 18px

    table
      margin-bottom .5em

      td
        font-size 40px
        font-weight bold
        color #FF4343

        small
          font-size 14px
          color #999

    .tag
      border 1px solid #7993FF
      border-radius 30px
      display inline-block
      font-size 18px
      line-height 38px
      padding 0 .75em
      margin-right .5em
      margin-bottom .5em

    .body
      background-color white
      border-radius 4px 4px 0 0
      margin-top 15px
      padding 1em 1.5em 0

      h3, p
        font-size 18px

      p
        font-weight 100

      h3:first-of-type
        border-top 1px solid #F2F2F2
        padding-top 1rem

      p:last-child
        border-bottom 1px solid #F2F2F2
        margin-bottom 0
        padding-bottom 1rem

    footer
      background-color white
      border-radius 0 0 4px 4px
      display flex
      flex 1
      padding 1em 1.5em

      .btn
        display flex
        justify-content center
        align-items center

      div
        font-size 18px
        margin-left 40px

        .phone-num
          font-size 20px
          font-weight 100

  .details
    display flex
    padding-top 45px

    article
      background-color white
      font-size 18px
      line-height 2
      padding 30px 40px
      flex 1

      section
        padding-bottom 2em

        + section
          border-top 1px solid #F3F3F3
          padding-top 2em

      h2
        font-size 40px
        padding-left .5em
        position relative
        margin-bottom .5em

        &::before
          content: ''
          background-color $active-color
          position absolute
          top 2px
          left 0
          width 8px
          height 46px
          border-radius 4px
          box-shadow 0 3px 13px rgba(67,103,255,.5)

      p.lead
        font-size 20px

      img
        max-width 100%
        height auto

    .qrcode
      background-color white
      margin-left 10px
      width 320px
      height 340px

      h3
        font-size 20px
        line-height 3
        text-indent 1em

      img
        width 200px
        height 200px
        display block
        margin 0 auto 13px

      p
        font-weight 100
        text-align center
