.house,
.single-house
  background-color #F8F8F8

  header&
    padding 0 0 1rem
    background-color #262626

  nav
    color #C6C6C6

    .breadcrumb
      margin 0

    a
      color #C6C6C6

      &:hover
        color white

  h1
    color white
    font-size 1.5rem
    margin 0 0 1em

  .top-swiper .swiper-slide
    height 0
    padding-top 75%
    background-size cover
    background-position center

  .thumb-swiper
    margin .75rem 0 0

    .swiper-slide
      background-size cover
      background-position center
      width 120px
      height 90px

      + .swiper-slide
        margin-left .75rem

  .summary
    display flex
    flex-direction column

    header
      background-color $active-color
      border-radius .2rem
      color white

      > *:last-child
        margin-bottom 0

    .price
      font-size 2.5rem

      small
        font-size 1rem

    .convert-to-rmb
      color #9BAEFF
      font-size .9rem

    table
      margin-bottom .5em

      td
        font-size 2rem
        font-weight bold
        color #FF4343

        small
          font-size .7rem
          color #999

    .tag
      border 1px solid #7993FF
      border-radius 1.5rem
      display inline-block
      font-size .8rem
      line-height 2
      padding 0 .75em
      margin-right .5em
      margin-bottom .5em

    .body
      background-color white
      border-radius .25rem .25rem 0 0
      display flex
      flex-direction column
      margin-top .75rem

      h3, p
        font-size .9rem

      p
        font-weight 100

      h3:first-of-type
        border-top 1px solid #F2F2F2
        padding-top 1rem

      p:last-child
        border-bottom 1px solid #F2F2F2
        flex 1
        margin-bottom 0
        padding-bottom 1rem

    footer
      background-color white
      border-radius 0 0 .25rem .25rem
      display flex

      .btn
        display flex
        justify-content center
        align-items center

      div
        font-size .9rem

        .phone-num
          font-size 1rem
          font-weight 100

  .details

    article
      background-color white
      font-size .9rem
      line-height 2
      flex 1

      section
        padding-bottom 2em

        + section
          border-top 1px solid #F3F3F3
          padding-top 2em

      h2
        font-size 2rem
        padding-left .5em
        position relative
        margin-bottom .5em

        &::before
          content: ''
          background-color $active-color
          position absolute
          top .1rem
          left 0
          width .4rem
          height 2.3rem
          border-radius .25rem
          box-shadow 0 .1rem .6rem rgba(67,103,255,.5)

      p.lead
        font-size 1rem

      img
        max-width 100%
        height auto

    .qrcode
      background-color white

      h3
        font-size 1rem
        line-height 3
        text-indent 1em

      img
        width 10rem
        height 10rem
        display block
        margin 0 auto .6rem

      p
        font-weight 100
        text-align center

  @media (max-width $iphone5-width)
    th:first-child
      width 50%

    td
      vertical-align top

    small
      display block

  @media (max-width $xs-width)
    .top-swiper
      margin-bottom 1em

    .thumb-swiper
      display none

    .summary
      header
        padding .25em 1em 1em

      .body,
      footer
        padding 1em

      footer div
        margin-left 1.5em

    .details
      padding-top 1em

      article
        padding 1em

      .qrcode
        margin-top 1em

  @media (min-width $xs-width + 1px)
    header&
      padding 0 0 2.9rem

    .showcase
      display flex

    #main-slide
      width 60%

    .top-swiper
      .swiper-button-next,
      .swiper-button-prev,
      .swiper-pagination
        display none

    .summary
      flex 1
      margin-left .75rem

      header
        padding .5em 1.25em 1em

      .body
        flex 1
        padding 1.25em 1.25em 0

      footer
        padding 1.25em

      footer div
        margin-left 2rem

    .details
      display flex
      padding-top 2.25rem

      article
        padding 1.5rem 2rem

      .qrcode
        margin-left .5rem
        width 16rem
        height 16rem

.wx-app-bar
  background-color white
  box-shadow 0 -1px 7px rgba(black, .1)
  position fixed
  left 0
  bottom 0
  width 100%
  height 50px
  display none
  justify-content center
  align-items center

  .wx-app-webview &
    display flex

$red = #FF3B19
.reg-button
  background-color $red
  border none
  border-radius 18px
  box-shadow 0 1px 4px rgba($red, .5)
  color white
  font-size 14px
  font-weight bold
  width 160px
  height 36px
  line-height 36px
  padding 0
  margin 0

  &:hover
    background-color lighten($red, 15%)
    box-shadow none

  &:focus
    outline none

.wx-app-webview
  #header,
  #footer
    display none !important

  .details
    padding-bottom 20px

