.location-list
  margin 1.5rem 0
  padding-bottom 2rem

  a
    background-color #444
    background-size cover
    background-position center
    height 9.5rem
    display flex
    flex-direction column
    justify-content center
    align-items center
    color white
    border-radius .5rem
    box-shadow 0 .25rem .5rem rgba(0,0,0,.2)
    position relative
    cursor pointer

    &::before
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background-color rgba(0,0,0,.8)
      border-radius .5rem
      z-index 0
      opacity 1
      transition opacity .5s

    h2,
    h3
      position relative
      text-transform uppercase
      z-index 5

    &:hover,
    &.active
      text-decoration none

      &::before
        opacity 0

  .swiper-pagination-bullets
    bottom 0

  @media (max-width $xs-width - 1px)
    .swiper-button-next,
    .swiper-button-prev
      display none

  @media (min-width $xs-width)
    .swiper-button-next,
    .swiper-button-prev
      margin-top calc(-1rem - 22px)

.location
  > h1
    border-bottom 1px solid #979797
    padding-bottom .5em
    margin-bottom 0

.house-list
  margin 0
  padding 0
  list-style none

  img
    width 100%
    height 15rem
    object-fit cover
    object-position center

.house-item
  font-size 1rem
  font-weight 100
  padding 1rem 0

  + .house-item
    border-top 1px solid #F3F3F3

  article
    flex 1
    display flex
    flex-direction column

  h1
    font-size 1.5rem

    a
      color $black

      &:hover
        color $active-color

  address
    color #999

  .price
    color $price-color
    font-size 1.5em
    font-weight bold
    margin-top auto
    text-align right

  .info .price
    font-size 1em

  @media (max-width $xs-width)
    .thumbnail
      margin-bottom .5em

  @media (min-width $xs-width + 1px)
    display flex

    .thumbnail
      width 22.5rem
      margin-right 1.75rem

