extends partial/layout

block content
  .banner.about-us hello

  .page.container
    p
      | 我们帮助用户筛选全球化不动产投资；
      br
      | 我们协助用户了解海外投资，抵御风险，避免“陷阱”；
      br
      | 我们精选全球更安全，更保值的不动产类投资产品；

    h1 通路世界，全球有家！
    p 2016年11月，来自国内外一线房企、互联网、金融等领域专业精英，联手创立“通路有家”，为中国人的全球不动产投资提供专业平台服务。
    p 为了实现用户轻松实现全球资产的更优配置，“通路有家”提供包括一对一海外房产置业投资、房屋托管、海外房地产基金理财等一体化服务。
    p 而作为中国最全面的全球不动产线上线下一体化平台，“通路有家”不只拥有全行业领先的服务体系，更创新性地研发出全球不动产投资数据系统，宗旨即“真实房源，透明交易，不吃差价”，打通了全球投资数据不对称的困局。
    p 我们始终围绕“安全，透明，保值”的核心价值观，重点解决信息不对称和产品质量问题，为投资用户带来真正的价值。
    p 未来，“通路有家”还将引入更多适合中国人的投资方式和保值产品，希望帮助更多的客户抵抗风险，实现资产安全。

    h2 通路世界，全球有家！
