extends partial/layout

block content
  .banner.article(style="../../img/banner.jpg")

  nav.container(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="/") 首页
      li.breadcrumb-item
        a(href="/news") 新闻展示
      li.breadcrumb-item.active(aria-current="page") 海外买房第一站，普吉岛，座无虚席，当日成交28套

  article.article.container
    header
      h1 2017年7月1日炎热七月，普吉岛为何这样火爆？
      p.info 2017.5.1

    blockquote 普吉岛，座无虚席2017年12月10日，“通路有家”携手普吉最大开发商阿里斯托集团（THE ARISTO GROUP）举办普吉海景度假村说明会，为客户带来世界级海岛中央海景度假村优质物业项目，受到市场客户青睐。

    p 阿里斯托集团（THE ARISTO GROUP）作为普吉最大开发商，前身为泰国几大酒店管理家族之一，集团公司涉及通信、房地产、酒店管理等多项综合业务，在泰国酒店业务颇具实力。目前在普吉岛拥有6个项目，物业的品质和服务收到广泛认可。

    p
      img(src="../../img/banner.jpg")



