extends partial/layout

block content
  header.house
    nav.container(aria-label="breadcrumb")
      ol.breadcrumb
        li.breadcrumb-item
          a(href="/") 首页
        li.breadcrumb-item
          a(href="/house") 楼盘展示
        <!--{{#category}}-->
        li.breadcrumb-item {{{category}}}
        <!--{{/category}}
        li.breadcrumb-item.active(aria-current="page") {{{full_title}}}

    .container
      h1 {{{full_title}}}

    .container.showcase
      #main-slide.carousel.slide(data-ride="carousel")
        .carousel-inner
          <!--{{#slides}}-->
          .carousel-item(class="{{#is_first}}active{{/is_first}}", style="background-image:url({{url}})")
          <!--{{/slides}}-->
        a.carousel-control-prev(href="#main-slide", role="button", data-slide="prev")
          span.fa.fa-chevron-left(aria-hidden="true")
          span.sr-only Previous
        a.carousel-control-next(href="#main-slide", role="button", data-slide="next")
          span.fa.fa-chevron-right(aria-hidden="true")
          span.sr-only Next
        ol.carousel-indicators
          <!--{{#slides}}-->
          li(class="{{#is_first}}active{{/is_first}}", data-target="#main-slide" data-slide-to="{{key}}", style="background-image:url({{url}})")
          <!--{{/slides}}-->
      .summary
        header
          .price {{price}}
            small.unit {{unit}}
          p.convert-to-rmb 约合人民币：{{rmb}}
          .tags
            <!--{{#tags}}-->
            span.tag {{.}}
            <!--{{/tags}}-->
            <!--remove-start-->
            span.tag 用求产权
            span.tag 可贷款
            span.tag 首付20%
            span.tag 全套硬装
            <!--remove-end-->
          p {{recommend}}
        .body
          table
            tr
              th(width="30%") 年均租金
              th 近一年涨幅
            tr
              td {{rent}}
              td {{growth}} <small>以不同户型楼层为准</small>
          h3 项目地址
          p {{address}}
          h3 主力户型
          p {{main_door}}

        footer
          a.btn.btn-primary(href="#") 预约咨询
          div
            span 免费电话
            br
            span.phone-num 400 523 4521 转 12345

  .container
    .details
      article {{{content}}}

      .qrcode
        h3 微信联系
        img(src="/wp-content/themes/tonglu/img/qrcode.png")
        p 添加微信时请备注

script.
  $('#main-slide').on('slid.bs.carousel', function (event) {
    var element = $('#main-slide .carousel-inner li').eq(event.relatedTarget)[0];
    if (element) {
      element.scrollIntoView();
    }
  });
