extends partial/layout

block content
  .banner.article.mb-2(style="background-image: url(../../img/banner.jpg)")

  .container
    ul.article-list
      li.article-item
        .thumbnail
          img(src="../../img/banner.jpg")
        article.article
          h2 2017年7月1日炎热七月，普吉岛为何这样火爆？
          p.digest 普吉岛，座无虚席2017年12月10日，“通路有家”携手普吉最大开发商阿里斯托集团（THE ARISTO GROUP）举办普吉海景度假村说明会，为客户带来世界级海岛中央海景度假村优质物业项目，受到市场客户青睐。
          p.info 2017.5.1
