extends partial/layout

block content
  .container
    <!--{{^has_blog}}-->
    h1.mt-5 楼盘展示
    <!--{{/has_blog}}-->
    .location-list.swiper-container
      .swiper-wrapper
        <!--{{#categories}}-->
        a.swiper-slide(
          href="/house/{{slug}}",
          class="{{#is_active}}active{{/is_active}}",
          style="background-image: url({{url}})",
        )
          h2 {{name}}
          h3 {{slug}}
        <!--{{/categories}}-->
      .swiper-pagination
      .swiper-button-next
      .swiper-button-prev
      <!--remove-start-->
      li(style="background-image:url(../../img/banner.jpg)")
        h2 澳洲
        h3 Australia
      li(style="background-image:url(../../img/banner.jpg)")
        h2 英国
        h3 England
      <!--remove-end-->

  <!--{{#has_blog}}-->
  .container.location
    h1 {{category}}楼盘
    ul.house-list
      <!--{{#blog}}-->
      li.house-item
        .thumbnail
          a(href="{{link}}")
            img(src="{{thumbnail}}")
        article
          h1
            a(href="{{link}}") {{full_title}}
          address {{address}}
          p.details {{main_door}}
          p.info 年均租金：
            span.price {{rent}}
          .price {{price}}{{unit}}
      <!--{{/blog}}-->
  <!--{{/has_blog}}-->
