extends partial/layout

block content
  .container
    ul.location-list
      li.active(style="background-image: url(../../img/banner.jpg)")
        h2 泰国
        h3 Thailand
      li(style="background-image:url(../../img/banner.jpg)")
        h2 澳洲
        h3 Australia
      li(style="background-image:url(../../img/banner.jpg)")
        h2 英国
        h3 England

  .container.location
    h1 泰国楼盘
    ul.house-list
      <!--{{#blog}}-->
      li.house-item
        .thumbnail
          img(src="{{thumbnail}}")
        article
          h1
            a(href="{{link}}") {{full_title}}
          address {{address}}
          p.details {{main_door}}
          p.info 年均租金：
            span.price {{rent}}
          .price {{price}}
      <!--{{/blog}}-->
